<div class="ui container" style="margin-top: 30px;">
  <h4 class="ui horizontal inverted divider" style="color: black;">いいねした記事の一覧</h4>
  <%= render 'user/posts/show_posts', posts: @user_fav %>
</div>