<div class="ui text container">
  <h3 class="ui block header" style='margin-top: 15px;'>
    管理者機能一覧
  </h3>
  <div class="ui vertical stripe segment" style="margin-top: 30px;">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">会員の管理</h3>
          <p>ユーザーの管理画面では、現在の利用者のサイトの利用制限や、制限の解除を行うことができます。</p>
        </div>
        <div class="six wide right floated column">
          <i class="massive user circle icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="six wide right floated column">
          <i class="massive book icon"></i>
        </div>
        <div class="eight wide column">
          <h3 class="ui header">投稿の管理</h3>
          <p>投稿管理画面では、不適切な投稿の削除を行うことができます。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">国名管理</h3>
          <p>国名管理画面では、新規国名の追加・削除を行うことができます。すでに作成している国を削除すると、国に紐ずく投稿も削除されます。</p>
        </div>
        <div class="six wide right floated column">
          <i class="massive flag outline icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="six wide right floated column">
          <i class="massive sticky note icon"></i>
        </div>
        <div class="eight wide column">
          <h3 class="ui header">ジャンルの管理</h3>
          <p>ジャンル管理画面では、ジャンル名の削除・新規投稿を行うことができます。すでにあるジャンル名を削除するとジャンルめいに紐ずく投稿が削除されます。</p>
        </div>
      </div>
    </div>
  </div>
</div>