<div class="ui container" style='margin-top: 30px; margin-bottom: 50px;'>
  <div class="ui follow special cards" style="margin: 0 auto;">
    <% @users.each do |user| %>
      <%= render 'user/users/user_card', user: user %>
    <% end %>
  </div>
  <div style="margin-top: 50px; text-align:center;">
    <%= paginate @users %>
  </div>
</div>


