<div class="ui text container">
  <div class="ui piled segment" style="margin-top: 200px; margin-bottom: 250px;">
    <h4 class="ui header red">退会確認</h4>
    <p>退会すると、会員情報や</p>
    <p>これまでの購入履歴が閲覧できなくなります</p>
    <p>退会する場合は、『退会する』をクリックしてください。</p>
    <div class="ui grid">
      <div class="eight wide column" style="padding-left: 100px;">
        <%= link_to "戻る", user_homes_mypage_path, class: 'ui button violet' %>
      </div>
      <div class="eight wide column">
        <%= link_to "退会する", user_user_path(current_user),method: :delete, data: {confirm: '本当に退会しますか？'}, class: 'ui button red' %>
      </div>
    </div>
  </div>
</div>