<div id="main" style="height: 100vh; background-color: #C0C0C0; text-align:center;">
  <div class="fof" style="">
    <h1>Error 404</h1>
    <h3>すでに退会済みのユーザーか、お探しのサイトは見つけられないようです。</h3>
    <%= link_to 'Back', root_path, class: "ui inverted grey basic button"%>
  </div>
</div>