<div class="ui four cards">
  <% if @posts.count > 1 %>
    <% @posts.each do |post| %>
      <div class="card">
        <div class="image">
          <%= attachment_image_tag post, :image, fallback: "noimage.png"%>
        </div>
        <ul>
          <li class="ui list"><p class="ui label">title</p> <%= post.title %></li>
          <li class="ui list"><p class="ui label">content</p><%= post.content %></li>
        </ul>
      </div>
    <% end %>
  <% else %>
    <h4 style="color: red;">まだ投稿はありません。初めての投稿をしてみましょう!</h4>
    <div style="margin-left: 15px;"><%= link_to "投稿をしてみよう!", user_posts_path, class: 'ui button orange' %></div>
  <% end %>
</div>
