<div class="ui center aligned container" style="margin-top: 100px; margin-bottom: 70px;">
  <div>
    <%= render 'info' %>
  </div>
  <div class="ui horizon divider"></div>
  <div style="margin-top: 30px" id="user_posts">
    <%= render 'user_posts', posts: @posts %>
  </div>
</div>