<div class="ui center aligned container" style="margin-top: 100px; margin-bottom: 70px;">
  <div>
    <%= render 'info' %>
  </div>
  <div style="margin-top: 30px">
    <%= render 'user_posts', posts: @posts %>
  </div>
</div>

