<div class="ui inverted vertical center aligned segment" style='height: 92vh;'>

  <div class="ui text container bgcontainer" style='height: 200px;'>
    <h1 class="ui inverted" style='margin-top: 50px;'>Welcome to shantiGVApp</h1>
    <h2>青山学大学shanti shantiの情報共有サイトになっています</h2>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column" style='color: white;'>
          <h3 class="ui header green text">このアプリを作った目的</h3>
          <p class="ui white text">2019年より蔓延したコロナウイルスによってhabitatと共同で行っていたGV活動が中断されてしまいました。次回GV活動が再開される頃に少しでもGVに行くことを検討している方に向けて、実際のGV活動のイメージが湧くようにGV経験者の実際の声を残しておきたいと考えたため作成いたしました。</p>
          <h3 class="ui header green text">アプリの始め方</h3>
          <p>このアプリの利用方法はとても簡単です。アプリの会員登録を行い、newpostのメニューから新規投稿を行うことができ、usersの場所でこのアプリのユーザーを一覧で見ることができます。そして、allpostsのところでは全ての投稿を閲覧することができます。他のユーザーをフォローしたり、投稿に対していいねをすることで後で自分で見たい投稿を探しやすくすることも可能です。それでは早速したの始めるのボタンをクリックして始めてみましょう!</p>
        </div>
        <div class="six wide right floated column">
          <div class='ui large image'>
            <%= image_tag 'shanti' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <%= link_to '始める', new_user_registration_path, class: 'ui huge primary button', style: 'margin-top: 30px;' %>
        </div>
      </div>
    </div>
  </div>
</div>


<h1 style="font-weight: bold; color: white; font-size: 200px;">明日の天気は晴れかな〜〜〜</h1>