<div class="ui text container">
  <h1 class="ui inverted">Welcome to shantiGVApp</h1>
  <h2>このアプリでは、コロナによって近年中止になっているGVに関する情報を再開された時に参考になるように投稿をしておくアプリになっています。</h2>
  <div class="ui huge primary button start_button">
    Get Started <i class="right arrow icon"></i>
  </div>
  <div class="ui">
    <p>ログインをして初めてみましょう！！</p>

<p>既にアカウントをお持ちの方はこちらから</p>
<%= link_to "sign_in", new_user_session_path %>

<p>初めてこのサイトを利用される方はこちらから</p>
<%= link_to "新規ユーザー登録", new_user_registration_path%>
  </div>
</div>

