<h1>shantiGV APPへようこそ</h1>
<p>このアプリでは、コロナによって近年中止になっているGVに関する情報を再開された時に参考になるように投稿をしておくアプリになっています。</p>


<p>ログインをして初めてみましょう！！</p>

<p>既にアカウントをお持ちの方はこちらから</p>
<%= link_to "sign_in", new_user_session_path %>

<p>初めてこのサイトを利用される方はこちらから</p>
<%= link_to "新規ユーザー登録", new_user_registration_path%>

<p>googleからのsign inをご希望の方はこちらから</p>