<div class="ui container ">
  <div class="center aligned">
    <div class="ui teal label" style="margin-top: 20px">
      <h1>新規投稿</h1>
    </div>
    <% if @post.errors.any? %>
      <div class="ui warning message" style="margin-top: 50px;">
        <div class="alert">
          <h1 class="header"><%= @post.errors.count %>件のエラーが発生しています</h1>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <%= render 'newpost', post: @post %>
  </div>
</div>