<div class="ui container ">
  <div class="center aligned">
    <h4 class="ui horizontal inverted divider" style="margin-top: 40px; color: black;">新規投稿作成画面</h4>
    <% if @post.errors.any? %>
      <div class="ui warning message" style="margin-top: 50px;">
        <div class="alert">
          <h1 class="header"><%= @post.errors.count %>件のエラーが発生しています</h1>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            <% if @nick_name_active == false %>
              <li>
                ニックネームが登録されておりません。もしニックネームを使用する場合は登録しましょう
                <%= link_to "登録する", edit_user_user_path(current_user.id), class: 'ui button red' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <%= render 'post', post: @post %>
  </div>
</div>