<div class="ui centered card">
  <div class="ui centered medium image">
    <%= attachment_image_tag @post, :image, fallback: "noimage.png"%>
  </div>
  <div class="content">
    <a class="header">Elyse</a>
  </div>
</div>
    
