<% if params[:controller] != "user/homes" && params[:not_found] == nil && params[:prompt] == nil%>
  <div class="ui footer center masthead aligned">
    <div class="ui horizontal divider">
      <div>&copy; shanti shanti</div>
    </div>
  </div>
<% end %>